[submodule "pb-function-parametrics-pietow"]
	path = pb-function-parametrics-pietow
	url = git@github.com:FbW-E05-1/pb-function-parametrics-pietow.git
[submodule "pb-functions-pietow"]
	path = pb-functions-pietow
	url = git@github.com:FbW-E05-1/pb-functions-pietow.git
[submodule "pb-array-problems-pietow"]
	path = pb-array-problems-pietow
	url = git@github.com:FbW-E05-1/pb-array-problems-pietow.git
[submodule "pb-function-return-exercise-1-pietow"]
	path = pb-function-return-exercise-1-pietow
	url = git@github.com:FbW-E05-1/pb-function-return-exercise-1-pietow.git
[submodule "pb-datastructure-objectscope-pietow"]
	path = pb-datastructure-objectscope-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-objectscope-pietow.git
[submodule "pb-objects-pt1-pietow"]
	path = pb-objects-pt1-pietow
	url = git@github.com:FbW-E05-1/pb-objects-pt1-pietow.git
[submodule "pb-objects-pt2-pietow"]
	path = pb-objects-pt2-pietow
	url = git@github.com:FbW-E05-1/pb-objects-pt2-pietow.git
[submodule "pb-data-structure-objects-exercise-pietow"]
	path = pb-data-structure-objects-exercise-pietow
	url = git@github.com:FbW-E05-1/pb-data-structure-objects-exercise-pietow.git
[submodule "pb-dtatastructure-spread-pietow"]
	path = pb-dtatastructure-spread-pietow
	url = git@github.com:FbW-E05-1/pb-dtatastructure-spread-pietow.git
[submodule "pb-datastructure-destructuring-pietow"]
	path = pb-datastructure-destructuring-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-destructuring-pietow.git
[submodule "pb-object-properties-pietow"]
	path = pb-object-properties-pietow
	url = git@github.com:FbW-E05-1/pb-object-properties-pietow.git
[submodule "pb-object-problems-pietow"]
	path = pb-object-problems-pietow
	url = git@github.com:FbW-E05-1/pb-object-problems-pietow.git
[submodule "pb-mixed-problems-pietow"]
	path = pb-mixed-problems-pietow
	url = git@github.com:FbW-E05-1/pb-mixed-problems-pietow.git
[submodule "pb-datastructure-foreach-map-pietow"]
	path = pb-datastructure-foreach-map-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-foreach-map-pietow.git
[submodule "pb-datastructure-map-pietow"]
	path = pb-datastructure-map-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-map-pietow.git
[submodule "pb-functions-callback-1-pietow"]
	path = pb-functions-callback-1-pietow
	url = git@github.com:FbW-E05-1/pb-functions-callback-1-pietow.git
[submodule "pb-functions-callback-2-pietow"]
	path = pb-functions-callback-2-pietow
	url = git@github.com:FbW-E05-1/pb-functions-callback-2-pietow.git
[submodule "pb-datastructure-filter-pietow"]
	path = pb-datastructure-filter-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-filter-pietow.git
[submodule "pb-datastructure-sort-pietow"]
	path = pb-datastructure-sort-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-sort-pietow.git
[submodule "pb-datastructure-reduce-pietow"]
	path = pb-datastructure-reduce-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-reduce-pietow.git
[submodule "pb-functions-closure-pietow"]
	path = pb-functions-closure-pietow
	url = git@github.com:FbW-E05-1/pb-functions-closure-pietow.git
[submodule "pb-functions-closure-2-pietow"]
	path = pb-functions-closure-2-pietow
	url = git@github.com:FbW-E05-1/pb-functions-closure-2-pietow.git
[submodule "pb-functions-recursion-pietow"]
	path = pb-functions-recursion-pietow
	url = git@github.com:FbW-E05-1/pb-functions-recursion-pietow.git
[submodule "pb-datastructure-advarray-pietow"]
	path = pb-datastructure-advarray-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-advarray-pietow.git
[submodule "pb-classes-exercise-1-pietow"]
	path = pb-classes-exercise-1-pietow
	url = git@github.com:FbW-E05-1/pb-classes-exercise-1-pietow.git
[submodule "pb-datastructure-classes-pietow"]
	path = pb-datastructure-classes-pietow
	url = git@github.com:FbW-E05-1/pb-datastructure-classes-pietow.git
[submodule "pb-classes-exc-2-pietow"]
	path = pb-classes-exc-2-pietow
	url = git@github.com:FbW-E05-1/pb-classes-exc-2-pietow.git
[submodule "pb-date-pietow"]
	path = pb-date-pietow
	url = git@github.com:FbW-E05-1/pb-date-pietow.git
[submodule "pb-review-exc-pt1-pietow"]
	path = pb-review-exc-pt1-pietow
	url = git@github.com:FbW-E05-1/pb-review-exc-pt1-pietow.git
[submodule "pb-the-cashier-problem-pietow"]
	path = pb-the-cashier-problem-pietow
	url = git@github.com:FbW-E05-1/pb-the-cashier-problem-pietow.git
